*{
    margin: 0;
    padding: 0;
}


nav{
    display: flex;
    justify-content: space-around;

    background-color: #1A0B2E;
}





.button-1{
    margin: 24px;
    padding: 12px 16px;
    border: 1px solid black;
    border-radius: 10000px;
    /* height: 44px ;
    width: 135px; */

    /* justify-content: center;
    align-items: center; */


    color: white;

    background: linear-gradient(225deg , #a200ff, rgb(254, 56, 168), #fef60d 100%);


}