*{
    margin: 0;
    padding: 0;
}


nav{
    display: flex;
    justify-content: space-around;

    background-color: #1A0B2E;
}

nav h1{

    margin: 30px;
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    line-height: 32px;
}

#nav-logo{

    background : linear-gradient(47.64deg , rgb(145, 0, 248, 1) , rgb(251, 9, 180, 1 ), rgb(247, 233, 63, 1));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}




#nav-opt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

    list-style-type: none;

    color: white;
    opacity: 0.9;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;


}



.button-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    
    height: 44px ;
    width: 135px;
    margin: 24px;
    padding: 12px 16px;
    border-radius: 10000px;


    font-family: "Inter";
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: white;
    background: linear-gradient(47.64deg , rgb(145, 0, 248, 1) , rgb(251, 9, 180, 1 ), rgb(247, 233, 63, 1));

}







