*{
    margin: 0px;
    padding: 0px;
}


nav{
    display: flex;
    justify-content: space-around;

    background-color: #1A0B2E;
}

nav h1{

    margin: 30px;
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    line-height: 32px;
}

#nav-logo{

    background : linear-gradient(47.64deg , rgb(145, 0, 248, 1) , rgb(251, 9, 180, 1 ), rgb(247, 233, 63, 1));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}




#nav-opt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;

    list-style-type: none;

    color: white;
    opacity: 0.9;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;


}



.button-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    

    padding: 12px 16px;
    border-radius: 10000px;


    font-family: "Inter";
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: white;
    background: linear-gradient(47.64deg , rgb(145, 0, 248, 1) , rgb(251, 9, 180, 1 ), rgb(247, 233, 63, 1));

}

nav .button-1 {
    margin: 24px;
}








/* banner starts here*/

/*badge add kora lagbr*/


#banner-1{
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scrollj;
    background-position: center;

    padding: 101px 0px 6.31%  0px;

    display: flex;
    flex-direction: column;
    gap: 2.5%;
    justify-content: center;
    align-items: center;
    
}


#banner-1-1 {
    position: relative;
    width: 21.875vw;
    height: auto;
}


.hero-circle {
    position: relative;
    z-index: 1;

    height: 100%;
    width: 100%;
    
}

.mic {
    position: absolute;
    z-index: 2;


    width: 7.1875vw;
    height: auto;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.badge {
    position: absolute;
    z-index: 2;

    top: 15%;
    left: 85%;
    transform: translate(-50%, -50%);

    padding: 8px 16px;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 600;

    background: #00ff88;
    border-radius: 1000px;
}


#banner-1-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    margin-top: 24px;
}

#banner-1-2 h1{
    font-family: "Inter";
    color: white;
    font-style: Bold;
    font-size: 60px;
    font-weight: 800;
    line-height: 73px;
    text-align: center;
}

#banner-1-2 p{

    font-family: "Inter";
    color: white;
    opacity: 0.8;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
}




#banner-1-2-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#banner-1-2-2 .button-1 {
    gap: 8px;
}


#button-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
    padding: 12px 20px;
    border-radius: 10000px;
    border: 1px solid #00FF88;


    font-family: "Inter";
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: #00ff88;
    background-color: transparent;

}




/* about the podcast section starts here*/


#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;

    background-color: #1A0B2E;
    padding: 3.125vw 12.5vw 9.375vw 12.5vw;
}


.about-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;

    width: 80%;

}


.about-1 h1{
    font-family: "Inter";
    color: white;

    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}


.about-1 p{
    font-family: "Inter";
    color: white;
    opacity: 0.8;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;

}


#about hr{
    width: 75%;
    border: 1px solid #ffffff;
    opacity: 0.1;
}


.about-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vw;

    width: 80%;
}


.card-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    width: 240px;
    height: 94px;
    
    color: white;

    width: 100%;
}

.card-1 h1{
    font-family: "Inter";
    font-style: Bold;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;

    color:#00FF88 ;
}

.card-1 p{
    font-family: "Inter";
    font-style: normal;

    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    opacity: 0.8;

    
}



/* why choose section starts here*/


#why-choose{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;

    background-color:rgba(35, 14, 61, 1);;
    padding: 7.5vw 12.5vw 7.5vw 12.5vw;


    font-family: "Inter";
    color: white;
}

#why {
    color: var(--#FFFFFF, rgba(255, 255, 255, 1));

    font-family: "Inter";
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}

.card-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 16px;

    padding: 40px;
    color: white;

    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
}

.card-2 h1{
    color: var(--#FFFFFF, rgba(255, 255, 255, 1));

    font-family: "Inter";
    font-style: Bold;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}



.card-2 p{
    color: var(--#FFFFFF, rgba(255, 255, 255, 1));

    font-family: "Inter";
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    opacity: 0.6;
}





#zap{
    height: 60px;
    width: 60px;
    color: linear-gradient(47.64deg , rgb(145, 0, 248, 1) , rgb(251, 9, 180, 1 ), rgb(247, 233, 63, 1));
}



#headphone-card {
    grid-area: headphone;
}

#device-card {
    grid-area: device;
}

#location-card {
    grid-area: location;
}

#flash-card {
    grid-area: flash;
}


#resources-card {
    grid-area: resources;
}




#card-2-container{
    display: grid;
    gap: 30px;
    grid-template-areas:
        "headphone device device device"
        "headphone location location location"
        "flash flash flash resources";
}





