*{
    margin: 0px;
    padding: 0px;
}


nav{
    display: flex;
    justify-content: space-around;

    background-color: #1A0B2E;
}

.nav-icon{
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    font-size: 32px;
    line-height: 32px;
    padding: 30px;
}

#nav-logo{

    background : linear-gradient(47.64deg , rgb(145, 0, 248, 1) , rgb(251, 9, 180, 1 ), rgb(247, 233, 63, 1));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}




#nav-opt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;

    list-style-type: none;

    color: white;
    opacity: 0.9;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;


    cursor: pointer;
}



.button-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    

    padding: 12px 16px;
    border-radius: 10000px;


    font-family: "Inter";
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: white;
    background: linear-gradient(47.64deg , rgb(145, 0, 248, 1) , rgb(251, 9, 180, 1 ), rgb(247, 233, 63, 1));


    cursor: pointer;

}

nav .button-1 {
    margin: 24px;
}


#menu-icon{
    display: none;
    font-size: 24px;
    cursor: pointer;
}





/* banner starts here*/



#banner-1{
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;

    padding: 101px 0px 6.31%  0px;

    display: flex;
    flex-direction: column;
    gap: 2.5%;
    justify-content: center;
    align-items: center;
    
}


#banner-1-1 {
    position: relative;
    width: 21.875vw;
    height: auto;
}


.hero-circle {
    position: relative;
    z-index: 1;

    height: 100%;
    width: clamp(200px, calc(350/1600*100vw), 350px);

    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
 
}

.mic {
    position: absolute;
    z-index: 2;


    width: clamp(60px, 7.1875vw, 200px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.badge {
    position: absolute;
    z-index: 2;

    top: 15%;
    left: 85%;
    transform: translate(-50%, -50%);

    padding: 8px 16px;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 600;

    background: #00ff88;
    border-radius: 1000px;
}


#banner-1-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    margin-top: 24px;
}

#banner-1-2 h1{
    font-family: "Inter";
    color: white;
    font-style: Bold;
    font-size: clamp(40px, calc(60/1600*100vw), 60px);
    font-weight: 800;
    line-height: 73px;
    text-align: center;
}

#banner-1-2 p{

    font-family: "Inter";
    color: white;
    opacity: 0.8;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
}




#banner-1-2-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#banner-1-2-2 .button-1 {
    gap: 8px;
}


#button-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
    padding: 12px 20px;
    border-radius: 10000px;
    border: 1px solid #00FF88;


    font-family: "Inter";
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: #00ff88;
    background-color: transparent;

    cursor: pointer;
}




/* about the podcast section starts here*/


#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;

    background-color: #1A0B2E;
    padding: 3.125vw 12.5vw 9.375vw 12.5vw;
}


.about-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;

    width: 80%;

}


.about-1 h1{
    font-family: "Inter";
    color: white;

    font-style: Bold;
    font-size: 3em;
    font-weight: 700;
    line-height: 58px;
}


.about-1 p{
    font-family: "Inter";
    color: white;
    opacity: 0.8;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;

}


#about hr{
    width: 100%;
    border: 1px solid #ffffff;
    opacity: 0.1;
}


.about-2{
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    align-items: center;
    grid-gap: 5vw;
}


.card-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 15vw; 
    height: 94px;
    
    color: white;
}

.card-1 h1{
    font-family: "Inter";
    font-style: Bold;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    color:#00FF88 ;
}

.card-1 p{
    font-family: "Inter";
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    opacity: 0.8;
}



/* why choose section starts here*/


#why-choose{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;

    background-color:rgba(35, 14, 61, 1);;
    padding: 7.5vw 12.5vw 7.5vw 12.5vw;


    font-family: "Inter";
    color: white;
}

#why {
    color: var(--#FFFFFF, rgba(255, 255, 255, 1));

    font-family: "Inter";
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}

.card-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 16px;

    padding: 40px;
    color: white;

    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
}

.card-2 h1{
    color: var(--#FFFFFF, rgba(255, 255, 255, 1));

    font-family: "Inter";
    font-style: Bold;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}



.card-2 p{
    color: var(--#FFFFFF, rgba(255, 255, 255, 1));

    font-family: "Inter";
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    opacity: 0.6;
}





#zap{
    height: 60px;
    width: 60px;
    color: linear-gradient(47.64deg , rgb(145, 0, 248, 1) , rgb(251, 9, 180, 1 ), rgb(247, 233, 63, 1));
}



#headphone-card {
    grid-area: headphone;
}

#device-card {
    grid-area: device;
}

#location-card {
    grid-area: location;
}

#flash-card {
    grid-area: flash;
}


#resources-card {
    grid-area: resources;
}




#card-2-container{
    display: grid;
    gap: 30px;
    grid-template-areas:
        "headphone device device device"
        "headphone location location location"
        "flash flash flash resources";
}



/*last banner section starts here*/



#last-banner{

    background-color: #1A0B2E;
    padding: 7.5vw 12.5vw 7.5vw 12.5vw;

    display: flex;
    flex-direction: column;
    gap: 7.5vw;
    justify-content: center;
    align-items: center;
    
}




/* featured subsection starts here */




#featured {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    gap: 2.5vw ;
}

#featured h1{
    font-family: "Inter";
    color: white;
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    justify-content: center;
    align-items: center;
}



.cards-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;


    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);

}



.video{
    aspect-ratio: 16 /9;
    width: 100%;
    
    border-top-left-radius: 24px;
    border-top-right-radius: 24px; ;

}

.card-3-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    padding: 24px;
}



.cards-3 h3{
    color: white;
    font-family: "Inter";
    font-style: Bold;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    align-self: flex-start;

}

.cards-3 p{
    color: white;
    opacity: 0.6;
    font-family: "Inter";
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.green-text{
    color: #00FF88 ;

    font-family: "Inter";
    font-style: Bold;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
}




/* meet the host subsection */





#meet-the-host{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5vw;

    margin-top: 24px;
}

#meet-the-host h1{
    font-family: "Inter";
    color: white;
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
}

#alex{

    background: rgba(53, 17, 101, 0.4);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;

    padding:40px;
    border-radius: 40px;

}


#alex-img{
    width: 200px;
    height: auto;
    border-radius: 40px;
}


#alex-info{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
}

#alex-info h3{
    color: white;
    font-family: "Inter";
    font-style: Bold;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;

}



#alex-info p{
    color: white;
    opacity: 0.6;
    font-family: "Inter";
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}




.alex-info-icons{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 16px;

}








/* footer starts here*/



footer{ 
    background-image: url(./assets/footer-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    padding: 101px 0px 6.31%  0px;

    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
    
}




footer h1{

    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 60px;
    font-weight: 800;
    line-height: 32px;
}


#footer-logo{

    background : linear-gradient(47.64deg , rgb(145, 0, 248, 1) , rgb(251, 9, 180, 1 ), rgb(247, 233, 63, 1));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}


.icon-container{
    display: flex;
    grid-gap: 2.5vw;
}

.icon-container-2{
    display: flex;
    direction: row;
    gap: 2.5vw ;

}


.footer-icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

.footer-icons p{
    color: rgba(255, 255, 255, 1);

    opacity: 0.6;
    font-family: "Inter";
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
}







footer p{
    opacity: 0.6;
    color: rgba(250, 250, 250, 1);

    font-family: "Inter";
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}


/* media query starts here*/



@media screen and (max-width: 576px ) {


    /* nav starts here*/


    nav{
        justify-content: space-between;
    }

    nav h1{
        align-self: left;
        align-items: start;
        font-size: 20px;
    }

    #nav-opt{
        display: none;
    }

    nav .button-1{
        display: none;
    }

    #menu-icon{
        display: flex;
        color: white;
        justify-self: center;
        align-items: center;
        
        padding: 18px 20px 18px 0px;
    }








    /* banner starts here*/






    #banner-1{
        padding: 40px 20px 40px 20px;
        gap: calc(24/16vw);
    }


    /* #banner-1-1 {
        position: relative;
        width: 21.875vw;
        height: auto;
    } */


    .badge {
        position: absolute;
        z-index: 2;

        top: 15%;
        left: 85%;
        transform: translate(-30%, -50%);
    }


    #banner-1-2{
        gap: 24px;
        margin-top: 24px;
    }

    #banner-1-2 h1{
        font-size: clamp(40px, calc(60/1600*100vw), 60px);
        line-height: 48px;
    }

    #banner-1-2-1{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }


    #banner-1-2-2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }









    /* about the podcast section starts here*/







    #about{
        gap: 40px;
        padding: 40px 20px 40px 20px;
    }


    .about-1{
        width: 100%;
    }


    .about-1 h1{
        font-size: 2em;
        line-height: 39px;
    }


    .about-1 p{
        line-height: 20px;
    }


    #about hr{
        width: 100%;
    }



    .about-2{
        grid-template-columns: repeat(2, auto);
        grid-gap: 40px 40px;
    }



    .card-1{
       gap: 16px;
       width: 180px; 
       height: 84px;
        
       color: white;
    }   

    .card-1 h1{
        font-size: 40px;
        line-height: 48px;
    }






    /* why choose section starts here*/

    #why-choose{
        gap: 16px;
        padding: 40px 20px 40px 20px;
    }


    #why{
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        letter-spacing: 0%;
        text-align: center;
    }
    

    .card-2{
        gap: 16px;
        padding: 24px;
        border-radius: 24px;
    }



    .card-2 h1{
        font-size: 22px;
        font-weight: 700;
        line-height: 27px;
    }



    .card-2 p{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }





    #card-2-container{
        display: grid;
        gap: 16px;
        grid-template-areas:
            "headphone"
            "device"
            "location"
            "flash"
            "resources";
    }




    /* last banner section starts here*/



    #last-banner{
        padding: 40px 20px 40px 20px;
        gap: 60px;
    }




    /*featured subsection*/


    #featured{
        gap: 24px;
    }

    #featured h1{
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
    }

    .cards-container{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .cards-3{
        gap: 16px;
        border-radius: 24px;
    }

    .card-3-info{
        padding: 16px;
        
    }

    .video{
        border-top-left-radius: 24px;
        border-top-right-radius: 24px; ;
    }



    /* meet the host section starts here*/





    #meet-the-host{
        gap: 24px;
        margin-top: 0px;
    }

    #meet-the-host h1{
        font-size: 32px;
        line-height: 39px;
    }

    #alex{
        flex-direction: column;
        gap: 16px;

        padding: 24px;
        border-radius: 24px;

    }

    #alex-img{
        width: 150px;
        height: auto;
        border-radius: 40px;
    }

    #alex-info{
        align-items: center;
        gap: 16px;
    }



    #alex-info p{
        text-align: center;
    }




    .alex-info-icons{
        gap: 8px;
    }












    
     /* footer starts here*/






    footer{
        padding: 40px 20px 40px 20px;
        gap: 24px;
    }

    footer h1{
        font-size: 32px;
    }

    .icon-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: 3.63vw;
    }

    .icon-container-2{
        display: flex;
        direction: row;
        gap: 3.63vw ;
    }









    /* #banner-1{
        display: none;
    } */

    /* .about-2{
        display: none;
    } */
    
}




