*{
    margin: 0;
    padding: 0;
}


nav{
    display: flex;
    justify-content: space-around;

    background-color: #1A0B2E;
}

nav h1{

    margin: 30px;
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    line-height: 32px;
}

#nav-logo{

    background : linear-gradient(47.64deg , rgb(145, 0, 248, 1) , rgb(251, 9, 180, 1 ), rgb(247, 233, 63, 1));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}




#nav-opt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;

    list-style-type: none;

    color: white;
    opacity: 0.9;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;


}



.button-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    

    padding: 12px 16px;
    border-radius: 10000px;


    font-family: "Inter";
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: white;
    background: linear-gradient(47.64deg , rgb(145, 0, 248, 1) , rgb(251, 9, 180, 1 ), rgb(247, 233, 63, 1));

}

nav .button-1 {
    margin: 24px;
}








/* banner starts here*/

/*badge add kora lagbr*/


#banner-1{
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scrollj;
    background-position: center;

    padding: 101px 0px 6.31%  0px;

    display: flex;
    flex-direction: column;
    gap: 2.5%;
    justify-content: center;
    align-items: center;
    
}


#banner-1-1 {
    position: relative;
    width: 21.875vw;
    height: auto;
}


.hero-circle {
    position: relative;
    z-index: 1;

    height: 100%;
    width: 100%;
    
}

.mic {
    position: absolute;
    z-index: 2;


    width: 7.1875vw;
    height: auto;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.badge {
    position: absolute;
    z-index: 2;

    top: 15%;
    left: 85%;
    transform: translate(-50%, -50%);

    padding: 8px 16px;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 600;

    background: #00ff88;
    border-radius: 1000px;
}


#banner-1-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    margin-top: 24px;
}

#banner-1-2 h1{
    font-family: "Inter";
    color: white;
    font-style: Bold;
    font-size: 60px;
    font-weight: 800;
    line-height: 73px;
    text-align: center;
}

#banner-1-2 p{

    font-family: "Inter";
    color: white;
    opacity: 0.8;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
}




#banner-1-2-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#banner-1-2-2 .button-1 {
    gap: 8px;
}


#button-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
    padding: 12px 20px;
    border-radius: 10000px;
    border: 1px solid #00FF88;


    font-family: "Inter";
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: #00ff88;
    background-color: transparent;

}




/* about the podcast section starts here*/


#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;

    background-color: #1A0B2E;
    padding: 50px 200px 150px 200px;
}


.about-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;

    width: 80%;

}


.about-1 h1{
    font-family: "Inter";
    color: white;

    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}


.about-1 p{
    font-family: "Inter";
    color: white;
    opacity: 0.8;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;

}
















#about hr{
    width: 80%;
    border: 1px solid #00ff88;
}


.about-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;

    width: 80%;
}


.card-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    width: 240px;
    height: 94px;
    
    color: white;

    width: 100%;
}

.card-1 h1{
    font-family: "Inter";
    font-style: Bold;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;

    color:#00FF88 ;
}

.card-1 p{
    font-family: "Inter";
    font-style: normal;

    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    opacity: 0.8;

    
}





